<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="switchPerTaskname" value="true"/>
    <add key="schdGlobalPath" value="Pentaho_JOB_path"/>
    <add key="schdGlobalWorkingFolder" value="Pentaho_Working_Folder"/>
    <add key="schdGlobalKettleCmd" value="kitchen.cmd"/>
    <add key="schdFileConfig" value="T:\_GitCoding\GitHub\TaskSchdChange\example config\schd.json"/>
  </appSettings>
</configuration>
